@tailwind base;
@tailwind components;
@tailwind utilities;

/* 전체 배율 60% 축소 */
html {
  font-size: 90%;
}

/* hide scrollbars on custom phone frame  */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
